<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--========== The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags ==========-->
<title>首页</title>

<!--==========Dependency============-->
<link rel="stylesheet" href="__STATIC__/web/css/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/web/css/font-awesome.min.css">
<link rel="stylesheet" href="__STATIC__/web/vendors/owl-carousel/assets/owl.carousel.css">
<link rel="stylesheet" href="__STATIC__/web/vendors/magnific-popup/magnific-popup.css">

<!--==========Theme Styles==========-->
<link href="__STATIC__/web/css/style.css" rel="stylesheet">
<link href="__STATIC__/web/css/theme/green.css" rel="stylesheet">

</head>
<body class="home">
<!-- 顶部导航栏 -->
<header class="row transparent black header1" data-spy="affix" data-offset-top="0" id="header">
    <div class="container">
        <div class="row top-header">
        	<!-- 搜索框 -->
            <div class="col-sm-4 search-form-col">
                <form action="#" method="get" class="search-form">
                    <div class="input-group">
                        <span class="input-group-addon"><img src="__IMG__/search-icon-white.png" alt=""></span>
                        <input type="search" class="form-control" placeholder="查询">
                    </div>
                </form>
            </div>
            <!-- logo -->
            <div class="col-sm-4 logo-col text-center">
                <a href="index.html"><img src="__IMG__/LOGO_WHITE.png" alt="" style="width:195px;"></a>
            </div>
            <!-- 菜单按钮 -->
            <div class="col-sm-4 menu-trigger-col">
                <button class="menu-trigger pull-right">
                    <span class="active-page">HOME</span>
                    <img src="__IMG__/menu-align-white.png" alt="" class="icon-burger">
                    <img src="__IMG__/menu-close-white.png" alt="" class="icon-cross">
                </button>
            </div>
        </div>        
    </div>
    <div class="row menu-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 menu-col">
                    <div class="row">
                    	<!-- 一级菜单 -->
                    	 
                    	<ul class="nav column-menu black-bg">
                    	{volist name="menu" id="data"}    
                    		{if condition="($data.name) eq '首页'"} 
                    		<li class="active dropdown">           		
                    		{else}<li>
                    		{/if}
                    			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$data.name}<span class="caret"></span></a>
	                    		<ul class="dropdown-menu" >
                                	{volist name="menu2" id="data2"}
	                                	{if condition="($data2.module) eq ($data.module)"}
	                                    	<li><a href="index.html">{$data2.name}</a></li>
                                    	{/if}
                                    {/volist}
                                </ul>
                    		</li>
                    	{/volist}
                    </div>
                </div>
                <div class="col-sm-4 subscribe-col">
                    <h5 class="widget-title">注册</h5>
                    <form action="__CONTROLLER__/Utility" method="post" class="form-inline subscribe-form">                    
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm"><span>发送</span></button>
                    </form>
                    <ul class="nav social-nav dark">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="row featured-post-carousel">
	{volist name="ac_au" id="data"}
	{notpresent name="data.password"}  
    <div class="item post">
        <img src="__IMG__/featured-posts/home_bg.png" alt="" class="img-responsive main-bg">
        <div class="post-content">
            <div class="container">         
                <h2 class="post-title"><a href="__CONTROLLER__/single?a=ac&id={$data.id}">{$data.title}</a></h2>
                <h5 class="post-meta" style="text-transform:none"><i></i> <a href="#">{$data.author}</a> | <a href="#"><?php echo date('Y-m-d h:i:s',$data['createtime'])  ;?></a></h5>
                <br/>
                <a href="__CONTROLLER__/single?a=ac&id={$data.id}" class="btn btn-primary"><span>查看更多</span></a>
            </div>
        </div>
        <img src="__STATIC__/{$data.thumb}" style="width:250px;height:250px;position:absolute;top:130px;left:47%">	
    </div>
    {/notpresent}
    {/volist}
</section>

<section class="row content-wrap">
    <div class="container">
        <div class="row" id="post-masonry">
            <!--Blog Post-->;
            {volist name="ac_au" id="data"} 
            {notpresent name="data.password"}  
            <article class="col-sm-4 post post-masonry post-format-image">
                <div class="post-wrapper row">
                    <div class="featured-content row">
                        <a href="__CONTROLLER__/single?a=ac&id={$data.id}"><img src="__STATIC__/{$data.thumb}" alt="" class="img-responsive"></a>
                    </div>
                    <div class="post-excerpt row">
                        <h5 class="post-meta">
                            <a href="#" class="date"><?php echo date('Y-m-d h:i:s',$data['createtime']);?> </a>
                            <span class="post-author"><i>by</i><a href="#">{$data.author}</a></span>
                        </h5>
                        <h3 class="post-title"><a href="__CONTROLLER__/single?a=ac&id={$data.id}">{$data.title}</a></h3>
                        <p>{$data.description}</p>
                        <footer class="row">
                            <h5 class="taxonomy"><i><span class="glyphicon glyphicon-link" style="position:static;display:inline"></span></i> <a href="#">image</a>, <a href="#">{$data.sort}</a></h5>
                            <div class="response-count"><img src="__IMG__/comment-icon-gray.png" alt="">5</div>
                        </footer>
                    </div>
                </div>
            </article>
            {else/}
            <!--Author Widget-->
            <aside class="col-sm-4 widget-author widget widget-with-posts post">
                <div class="widget-author-inner row">
                    <div class="author-avatar row"><a href="__CONTROLLER__/single?a=au&id={$data.id}"><img src="__STATIC__/{$data.avatar}" alt="" class="img-circle" style="width:108px;height:108px;"></a></div>
                    <a href="__CONTROLLER__/single?a=au&id={$data.id}"><h2 class="author-name">{$data.uname}</h2></a>
                    <h5 class="author-title">{$data.autograph}</h5>
                    <p>{$data.profile}</p>
                    <a href="__CONTROLLER__/single?a=au&id={$data.id}" class="know-more">查看更多</a>
                </div>
                <ul class="nav social-nav">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </aside>
            {/notpresent}
            {/volist}
        </div>
    </div>
</section>

<!--Footer-->
<footer class="row" id="footer">
    <div class="container">
        <div class="row top-footer">
            <div class="widget col-sm-3 widget-about">
                <div class="row m0"><a href="index.html"><img src="__IMG__/logo-black-green.png" alt=""></a></div>
            </div>
            <div class="widget col-sm-5 widget-menu">
                <div class="row">
                    <ul class="nav column-menu white-bg">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="single.html">Blog Single 1</a></li>
                        <li><a href="single2.html">Blog Single 2</a></li>
                    </ul>
                    <ul class="nav column-menu white-bg">
                        <li><a href="single3.html">Blog Single 3</a></li>
                        
                        <li><a href="contact.html">contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget col-sm-4 widget-subscribe">
                <h5 class="widget-title">subscribe to our newsletter.</h5>
                <form action="#" method="post" class="form-inline subscribe-form">                    
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm"><span>send</span></button>
                </form>
            </div>
        </div>
        <h5 class="copyright">Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></h5>
    </div>
</footer>

<!--========== jQuery (necessary for Bootstrap's JavaScript plugins) ==========-->
<script src="__STATIC__/web/js/jquery-2.2.0.min.js"></script>
<script src="__STATIC__/web/js/bootstrap.min.js"></script>
<script src="__STATIC__/web/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="__STATIC__/web/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="__STATIC__/web/vendors/instafeed/instafeed.min.js"></script>
<script src="__STATIC__/web/vendors/imagesLoaded/imagesloaded.pkgd.min.js"></script>
<script src="__STATIC__/web/vendors/isotope/isotope.pkgd.min.js"></script>
<script src="__STATIC__/web/js/theme.js"></script>
</body>
</html>
